<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="B2_ProjetSQLwpf.Properties.Settings.exchangeConnectionString"
            connectionString="Data Source=192.168.137.128;Initial Catalog=exchange;User ID=sa;Password=abcd4ABCD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>